

  .dropdown-menu a{
    width: 140px;
    text-decoration: none;
  }
  
  .dropdown-menu {
    padding: 0;
    margin: 0;
    text-decoration: none;
    height: 170px;
  }

  .dropdown-menu p{
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
  }
  

  .nav-item a {
    text-decoration: none;
    padding: 0.375rem;
    
  }

  .dropdown-toggle {
    text-decoration: none;
    border: 1px solid;
    border-radius: 0.375rem;
    background-color: #212529;
    color: #6c757d;
    transition: .2s ease-in-out;
  }

  .dropdown-toggle:hover {
    transform: scale(1.1);
    
  }

  .home__btn {
    border-radius: 0.375rem;
    background-color: #212529;
    color: #6c757d;
    transition: .2s ease-in-out;
  }

  .home__btn:hover {
    transform: scale(1.1);
  }

  .dropdown-item {
    color: #212529;
  }


 

