.main__section {
    flex-direction: column;
    align-items: center;
}


.section__gallery {
    min-height:0vh;
    display: flex;
    display: flex;
    flex-direction: row;
    width: 100%;

}

.section__gallery img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.section__gallery img:hover {
    width: 70%;
    opacity: 1;
    filter: contrast(120%);

}

.main__section-h2 {
    color: white;
    font-size: 10rem;
}