section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

section > div {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 4) ; 
    background: rgba(255, 255, 255, 0.1) ;
    backdrop-filter: blur(5px) ;
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    border-right: 3px solid rgba(255, 255, 255, 0.5);
}

.cart__component-box {
    padding: 1rem;
    width: 55vw;
}


.cart-total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 90%;
    border-top: 0.1px solid black;
    
}

.cart-buttons {
   display: flex;
   gap: 1rem
}

.cart__btn-purchase:hover{
    background-color: mediumseagreen;
}

.cart__btn-delete:hover {
    background: tomato;
}


.product__page--link:hover{
    text-decoration: underline;
}

.cart__empty-box {
    min-height: 100vh;
    color: aliceblue;
}